.container{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    font-family: 'montserrat';
    align-items: center;
    gap: 1rem;
}
.container .mainSection {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container section p span{
    font-weight: 600;
}