.navbar{
    /* width: 100%; */
    background-color: rgb(213, 249, 209);
    padding: 0 1rem;
    min-height: 40px;
    align-items: center;
    display: flex;
    justify-content:stretch;
    flex-direction: row;
    gap: 2rem;
}
.navbar .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    text-decoration: none;
    flex: 0;
}
.navbar .logo:hover svg{
    transition: transform .5s ease-in-out;
    transform: rotate(15deg) scale(1.4);
}
.navbar .logo p{
    font-size: 1.2rem;
    color: rgb(5, 55, 0);
    text-transform: uppercase;
    font-family: "montserrat";
}

.navbar menu{
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex: 1;
}

.navbar menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "montserrat";
    color: black;
    font-weight: bold;
    transition: 500ms;
}

.navbar menu a:hover{
    color: rgb(5, 55, 0);
    /* font-weight: bold; */
    transform: scale(1.1);
}
